


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');


@media (min-width: 600px)
{
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body{
    font-family: "Poppins";
    font-size: 16px;
}

.main{
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 40px;
}

.heading{
    font-size: 1.5rem;
    /* border: 2px solid black; */
    padding: 5px;
    line-height: 40px;
}

.heading:first-child{
    font-weight: 200;
}

.heading p{
    font-weight: 600;
}

.para{
    /* border: 2px solid green; */
    margin-top: 20px;
    padding: 25px 30%;
    line-height: 30px;
    
    font-weight: 200;
    font-size: 20px;
    
}


/* ----------------------------- */
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    
}

.cards h3{
    font-weight:600;
    font-size: 22px;
}



.card{
    text-align: start;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.6);
    border-radius: 10px;
    margin: 10px;
    height: 35vh;
    width: 23vw;

    position: relative;
    
}


.description{
    /* border: 2px solid red; */
    margin-top: 30px;
    margin-bottom: 10px;
}

.card img{

    position: absolute;
    bottom: 20px;
    right:30px;
    
}


#card-1, #card-3{
    /* border: 2px; */
    margin-top: 19vh;
}

.box{
    /* border: 2px solid red; */
    margin-bottom: 7vh;

}

#box-1{
    border-top: 4px solid hsl(0, 78%, 62%);
}

#box-2{
    border-top: 4px solid hsl(34, 97%, 64%);
}


#card-1{
    border-top : 4px solid hsl(180, 62%, 55%);
}


#card-3{
    border-top: 4px solid hsl(212, 86%, 64%);
    
}



}


@media (max-width:500px){
    
    *{
        padding: 0px;
        margin: 0px;
    }
    
    body{
        font-family: "Poppins";
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    
    .main{
        /* border: 2px solid red; */
        margin-top: 40px;
        padding: 15px;
    }

    /* -------------------- */
    
    .heading{
        /* border: 2px solid blue; */
        font-size: 20px;
        padding: 2px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .heading p{
        font-weight: 600;
    }

    /* --------------------------- */
    
    .para{
        /* border: 2px solid green; */
        margin-top: 20px;
        padding: 25px 10%;
        line-height: 25px;
        font-size: 14px;
        
    }

    /* ----------------------------- */


    .cards{
         /* border: 2px solid black; */
         margin-top: 20px;
         padding: 10px;
    }

    .card{
        /* border: 2px solid purple; */
        margin-bottom: 20px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
        border-radius: 10px;
        padding: 10px;

        position: relative;
        height: 20vh;

        /* border-top: 4px solid green; */
    }

    .cards h3{
        font-size: 20px;
        font-weight: 600;
    }

    .description{
       /* border: 2px solid black; */
       padding-bottom: 30px;
       padding-top: 5px;
    }

    .card img{
        width:14vw;
        position:absolute;
        bottom: 10px;
        right: 20px;

    }

    #card-1{
        border-top : 4px solid hsl(180, 62%, 55%);
    }

    #box-1{
        border-top: 4px solid hsl(0, 78%, 62%);
    }

    #box-2{
        border-top: 4px solid hsl(34, 97%, 64%);
    }
    
    #card-3{
        border-top: 4px solid hsl(212, 86%, 64%);
    }


    /* -------------------------------------- */

    
}
